<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estiloAP1.css">
    <link rel="stylesheet" href="footer.css">

    <link rel="icon" href="img/lectormanga.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="icon" href="img/logo.jfif">
    <script src="jquery-3.6.0.min.js"> </script>
    <script SameSite="None; Secure" src="https://static.landbot.io/landbot-3/landbot-3.0.0.js"></script>
    <script>
        var myLandbot = new Landbot.Livechat({
            configUrl: 'https://chats.landbot.io/v3/H-1014309-HZSKBPVNZMLZEIYS/index.json',
        });
    </script>

    <!-- Title -->
    <title>Agregar Producto - Piqueo Rustico</title>
    <meta name="description"
          content="jamón y mozzarella. Disfrútala desde 1/4 de mt. ">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="lhRNop23sOD50wlhHHwDxxjmlHopuBQAG2kWqh79">
    <meta name="sessionID" content="fLtMtG6PZOOOx849imwbpUXnaDVAX2Pq8jcykvZZ">

</head>

<body class="home" background="img/12-1588566365-5eaf995d170e7.jpg">


    <br>
    <h4 style="color: black;" align="center">
        <marquee>Horario de atencion: 10:00 am - 11:00 pm</marquee>
    </h4>

    <div class="titulo titulo0">
        <h1>SaferCV&copy;</h1>
    </div>

    <nav>
        <div id="toggle-menu" class="toggle-menu">&copy;Más Opciones&copy;</div>
        <ul class="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="Iniciarsesion.html">Iniciar Sesion</a></li>
            <li><a href="reserva.html">Reservar</a></li>
            <li><a href="Delivery.html">Delivery</a></li>
            <li><a href="agregarProductos.html">Agregar Productos</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
        </ul>
    </nav><br><br>


    <div class="container-slider">
        <div class="slider" id="slider">
            <div class="slider__section"> <h2  align="center" >POKER EN SALSAS DE CARNE</h2>
                <img src="img/PASTAS.png" alt="" class="slider__img">
            </div>
            <div class="slider__section"><h2  align="center" >PIZZA AMERICANA</h2>
                <img src="img/pizza.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section"><h2  align="center" >POLLO A LA BRASA A LA PARRILLERA</h2>
                <img src="img/POLLO.jpeg" alt="" class="slider__img">
            </div>
            <div class="slider__section"><h2  align="center" >LOMO SALTADO</h2>
                <img src="img/Lomo-Saltados.jpg" alt="" class="slider__img">
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
    <br><br>

    <main id="website">
        <!-- Header -->
    
        <header id="js-header"
                class=" custom-bg-opacity-none  cpnazo__header u-header u-header--static u-shadow-v19 position-fixed  ">
            <!-- Top Bar -->
            <div class="cpnazo__header-top u-header__section g-transition-0_3 text-white ">
                <div class="container ">
                    <div class="row justify-content-end align-items-center g-mx-0--lg ">
                        <div class="cpnazo__header-top-container g-pr-15 g-pr-0--sm">
                            <!-- Search -->
                            <div class="cpnazo__header-top-search d-inline-block g-valign-middle">
                                <div class="item">
                                    <div class="cpnazo__header-top-search__container">
                                        <div class="cpnazo__content-search">               
        </header>
        <!-- End Header -->
    
        
            <!-- End Carousel -->
             </div>
                    <div class="col-lg-6">
                        <!-- Product Info -->
                        <div class="info">
                            <h1 class="title" align="center" >Piqueo Rustico</h1>
                            <p class="excert" align="center">Chicharrón de pollo, 7 alitas bbq, 5 tequeños, papas fritas peruanas.</p>
                        </div>
    <br>
                        <form action="/" method="post" id="frmAddProductToCart" @submit.prevent="addProduct('detail',8)">
    
                            <input type="hidden" name="id" value="8">
                            <input type="hidden" name="sessionID" :value="sid">
                            <input type="hidden" name="quantity" v-model="quantity">
                            <input type="hidden" name="price" id="detail_price" v-model="detail_price" value="16.9">
                
                        
                                                                        
                            <div class="list g-py-10  g-brd-bottom g-brd-gray-light-v3">
                
                        
                                                                        
                            <div class="list g-py-10  g-brd-bottom g-brd-gray-light-v3">  
                            <h3 class="pt-0">Agrega una bebida</h3>
                            <label class="p-0 m-0 g-font-size-13" for="su_p_term_2211">
                                <input type="checkbox" class="check_complements_detail"
                                    data-price="6.9"
                                    @click="checkProductTermPrice()"
                                    value="2211"
                                    id="su_p_term_2211"
                                    name="productTerm[2210][]">Inka Kola Personal( <b>+ S/ 6.9</b> )
                            </label><br>
                            <label class="p-0 m-0 g-font-size-13" for="su_p_term_2212">
                                <input type="checkbox" class="check_complements_detail"
                                    data-price="6.9"
                                    @click="checkProductTermPrice()"
                                    value="2212"
                                    id="su_p_term_2212"
                                    name="productTerm[2210][]">Coca Cola Personal( <b>+ S/ 6.9</b> )
                            </label><br>
                            <label class="p-0 m-0 g-font-size-13" for="su_p_term_2213">
                                <input type="checkbox" class="check_complements_detail"
                                    data-price="8.9"
                                    @click="checkProductTermPrice()"
                                    value="2213"
                                    id="su_p_term_2213"
                                    name="productTerm[2210][]">Chicha Morada 1/2 Litro ( <b>+ S/ 8.9</b> )
                            </label><br>
                            <label class="p-0 m-0 g-font-size-13" for="su_p_term_2214">
                                <input type="checkbox" class="check_complements_detail"
                                    data-price="16.9"
                                    @click="checkProductTermPrice()"
                                    value="2214"
                                    id="su_p_term_2214"
                                    name="productTerm[2210][]">Chicha Morada 1 Litro( <b>+ S/ 16.9</b> )
                            </label><br>
                            <label class="p-0 m-0 g-font-size-13" for="su_p_term_2215">
                                <input type="checkbox" class="check_complements_detail"
                                    data-price="8"
                                    @click="checkProductTermPrice()"
                                    value="2215"
                                    id="su_p_term_2215" name="productTerm[2210][]">Inka Kola 1 litro( <b>+ S/ 8</b> )
                            </label><br>
                            <label class="p-0 m-0 g-font-size-13"for="su_p_term_2216">
                            <input type="checkbox" class="check_complements_detail"
                                    data-price="8"
                                    @click="checkProductTermPrice()"
                                    value="2216"
                                    id="su_p_term_2216"
                                    name="productTerm[2210][]">Coca Cola 1 litro( <b>+ S/ 8</b> )
                            </label><br>
                                                    
                             </div>
                                        
                                    
                                    <!-- Quantity -->
                                        <div class="cpnazo-quantity g-pt-18 g-pb-16 g-brd-bottom g-brd-gray-light-v3">
                                            <h3>Cantidad:</h3>
                                            <div>
                                            <span class="minus" @click="cartQuatity(0)">-</span>
                                            <input type="number" v-model="quantity" class="cpnazo__js-quantity" name="qty" value="1">
                                            <span class="plus" @click="cartQuatity(1)">+</span>
                                            </div>
                                        </div>
                                        <!-- End Quantity -->
                                        <!-- Price -->
                                        <div class="box-price g-pt-18">
                                            <div class="price">
                                            <h4>S/. {{ detail_price|formatNumber }} </h4>
                                            <span class="line_tache" id="oldPrice">
                                            </span>
                                        </div>
                                        <button id="btn.agregardatos" type="submit">
                                            Agregar
                                            </button>
                                            
                                    <small><br></small>
                        </form><br><br>
    
    
    </main>
    
    
    <script type="text/javascript"
            ></script>
    <script src="agregardatosCalculos.js"></script>
    
    
    
            

    

    <br><br>
    <script src="agregardatos.js" ></script>
    <footer>
        <div class="footer-container">
            <div class="div-footer-img">

                <img class="imagen-footer" src="img/logo.jfif" alt="">

            </div>

            <div class="div-footer Sitio">
                <h3>SITIO</h3>
                <div class="categorias-footer">

                    <a href="preguntas-footer.html">Preguntas Frecuentes</a>
                    <a href="https://wa.me/+998654876">Contacto</a>
                    <a href="equipo.html">Página desarrollado por el grupo 2</a>
                </div>
            </div>
            <div class="div-footer Explorar">
                <h3>EXPLORAR</h3>

                <div class="categorias-footer"> <a href="">Más Opciones</a> </div>
            </div>
            <div class="div-footer Contenidos-Social">
                <h3>CONTENIDOS</h3>
                <p>
                <h4>SaferCV es un página de servicios delivery, creada para la satisfaccíon del consumidor.</h4>

                </p>

                <h3>SOCIAL</h3>
                <a href="https://www.facebook.com/profile.php?id=100073635441173"><img src="img/facebook.png"
                        alt=""></a>
                <a href="https://wa.me/+998654876"><img src="img/whatsapp.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCswABX-tSBRNcwuMU1DlRfA/featured"><img src="img/youtube.png"
                        alt=""></a>
                <a href="https://twitter.com/SaferCV"><img src="img/twitter.png" alt=""></a>
                <a href="https://www.instagram.com/safercv/"><img src="img/instagram.png" alt=""></a>
                <h5>2021 - 2022 SaferCV</h5>
            </div>
        </div>
    </footer>
</body>
<script src="mostrar.js" type="text/javascript"></script>

</html>